

 @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap'); 

 @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Roboto+Slab:wght@300&display=swap'); 
body{
    background-color:goldenrod;
}

h2{
text-align: center;
color: lightslategray;
font-size: 150px;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p{
    font-size: large;
    font-family: sans-serif;
    color: green;
}
 .tsnat{
font-size: large;
 }