*{margin:0;
padding:0;

}
body{
    background-color:goldenrod;
}

.img-container {
    position: relative;
    height: 50%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background: rgba(26, 26, 29);
  }
/* h2{
text-align: center;
color: lightslategray;
font-size: 150px;
font-weight: bold;


} */
.logo-container {
    width: 120px;
    height: 100%;
    padding: 2px;
  }
  .logo {
    width: 70%;
    height: 100%;
    border-radius: 60%;
  }


.navbar{
    background:rgb(6, 63, 95);
    text-align: center;
    position: sticky;
    height:fit-content;
    top: 0;
    }
    
    .navbar ul{
        display: inline-flex;
        list-style: none;
        color:rgb(254, 254, 254);
    }
    
    .navbar ul li{
    width: 150px;
    margin: 15px;
    padding: 10px;
    }
    
    .navbar ul li a{
        text-decoration:none ;
        color: rgb(252, 251, 251);
    }
     .navbar ul li :hover{
       /* display: block;
        position: absolute;*/
        background-color: rgb(22, 87, 133);
       /* padding: 10px;*/
    }

    
.hero {
  /* width: 60vw;
  height: clamp(30vh, 60vw, 50vh); */
  max-width:5%;
  max-height:5%;
  border-radius: 10px;
  position: relative;
 /*  object-fit: cover; */
  object-position: center;
}

.carousel1 {
    width: 60vw;
    height: clamp(30vh, 60vw, 50vh);
    max-width: 50vh;
    max-height: 50vh;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    object-position: center;
}
/*
p{
    font-size: large;
    font-family: sans-serif;
    color: green;
}
*/
 .tsnat{
font-size: large;
 }


 /* @media (max-width: 768px) {
    .hamburger {
      display: block;
      padding: 1rem;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
} */

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  

 footer{
    background:rgb(6, 63, 95);
    padding:30px 0px;
    width: 100%;
    /* font-family: 'Play', sans-serif; */
    text-align:center;
    margin-bottom: 0;
    
    }
    
.footer .rowf{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(247, 241, 241);
    font-size:1em;
    }
    
.footer .rowf a{
    text-decoration:none;
    color:rgb(21, 22, 22);
    transition:0.5s;
    }
    
.footer .rowf a:hover{
    color:#fff;
    }
    
.footer .rowf ul li{
    display:inline-block;
    margin:0px 3px;
    }
    
.footer .rowf a i{
    font-size:4em;
    margin:0% 3%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
  
    }
    .footer .rowf ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    
    }
    .footer .rowf a i{
    margin:0% 2%;
    }
}
          