html{
  font-size:16px;
}
*{  margin:0;
    padding:0;
}
.navbar{
    background:rgb(6, 63, 95);
    position: sticky;
    }
    
    .navbar ul{
      font-size: 1.75rem;
        /* margin-top: -10rem; */
        height: 2rem;
        display: flex;
        align-items: center;
        list-style: none;
        /* color:rgb(200, 20, 20); */
    }
    
    .navbar ul li{
    margin-top: -10rem;
    display: flex;
    justify-content:center;
    align-content: space-between;
    width: 100%;
    /* margin: 15px; */
    padding: 3rem;
    }
    
    .navbar ul li a{
        text-decoration:none ;
        color: white;
        transition: transform .5s ease-in-out, color .6s ease-out;
    }
     .navbar ul li a:hover{
       /* display: block;
        position: absolute;*/
        transform: scale(1.1,1.1);
        background-color: rgb(22, 87, 133);
       padding: 1.5rem;
       border-radius: 1rem;
       color: black;
    }

    
.hero {
  /* width: 60vw;
  height: clamp(30vh, 60vw, 50vh); */
  max-width:5%;
  max-height:5%;
  border-radius: 10px;
  position: relative;
 /*  object-fit: cover; */
  object-position: center;
}
.carousel-words{
  z-index: 2;
  position: sticky;
}
.sfpics{
  height: 60rem;
}

 .tsnat{
font-size: large;
 }


 /* @media (max-width: 768px) {
    .hamburger {
      display: block;
      padding: 1rem;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
} */


input[type=submit] {
  background-color:rgb(6, 63, 95);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: rgb(247, 241, 241)d;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-size {
  float: left;
  width: 4rem;
  margin-top: 6px;
}

.col-space {
  float: left;
  width: 75%;
  margin-top: 6px;
}
row-feed:after {
  content: "";
  display: table;
  clear: both;
}






/* @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
   */




 footer{
    background:rgb(6, 63, 95);
    /* padding:30px 0px; */
    height: 10rem;
    width: 100%;
    text-align:center;
    margin-bottom: 0;
    
    }
    
.footer .rowf{
    width:100%;
    color:rgb(247, 241, 241);
    font-size:2rem;
    }
    
footer .rowf a{
    font-size: 4rem;
    text-decoration:none;
    color:rgb(21, 22, 22);
    /* transition:0.5s; */
    transition: transform .5s ease-in-out, color .6s ease-out;
    }
    
footer .rowf a:hover{
    color:#fff;
    transform: scale(1.2,1.2);
    }
    
.footer .rowf ul li{
    display:inline-block;
    margin:0px 0.3rem;
    }
    
.footer .rowf a li{
    font-size:4em;
    margin:0% 3%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:3%;
  
    }
    .footer .rowf ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    
    }
    .footer .rowf a i{
    margin:0% 1%;
    }
}
          